*   {
    margin: 0;
}

.box{
    display: grid;
    grid-template-areas: "head head head"
                         "ladoE centro ladoD"
                         "rodape rodape rodape";
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 10vh 80vh 10vh;

}
.header{
    grid-area:head;
    background-color: #D98299;
    text-align: center;
    
}
.ladoE{
    grid-area:ladoE;
    background-color: #BF5065;
    text-align: center;

}
.centro{
    grid-area:centro;
    background-color:#F2DCE0;
    text-align: center;
    display: flex;
}
.ladoD{
    grid-area:ladoD;
    background-color:#BF5065;
    text-align: center;
    color:antiquewhite
}

.rodape{
    grid-area: rodape;
    background-color: #D98299;
    text-align: center;
    color: antiquewhite;
}
    .header >nav{
        font-size: 30px;
        color:crimson;
    }

    
